body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.profile-picture {
    /* width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    border: 3px solid #4CAF50; */
    width: 100%;
}

.logo-container {
    padding: 30px;
}

h1 {
    margin: 10px 0 5px;
    font-size: 1.8em;
    color: #333333;
    margin-bottom: 30px;
}

p {
    color: #777777;
    margin-bottom: 30px;
    font-size: 1em;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.link-button {
    text-decoration: none;
    color: #ffffff;
    background-color: #ae8c4c;
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.link-button i {
    margin-right: 10px; /* Space between icon and text */
}

.link-button:hover {
    background-color: #795e2d;
    transform: translateY(-3px);
}

.link-button:active {
    background-color: #634e27;
    transform: translateY(0);
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        height: 100vh;
        padding: 20px;
        border-radius: 0;
        box-shadow: none;
    }

    body {
        align-items: flex-start;
    }

    .profile-picture {
        width: 150px;
        height: 100%;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }

    .link-button {
        padding: 10px 15px;
        font-size: 0.9em;
    }
}
